NEXT_PUBLIC_CONTRACT_ADDRESS=0x9F3e64602e3b75e17fDC79563026Bc8D2D2eC5Ff
NEXT_PUBLIC_RITUAL_RPC_URL=https://rpc.ritualfoundation.org
NEXT_PUBLIC_RITUAL_CHAIN_ID=1979
NEXT_PUBLIC_RITUAL_EXECUTOR_ADDRESS=0xB42e435c4252A5a2E7440e37B609F00c61a0c91B
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
